.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo-img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
.logo-name {
  font-family: 'roboto';
  font-size: 22px;
  font-weight: 500;
  color: #555555;
}
ul {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-link {
  font-family: 'roboto';
  font-weight: 500;
  font-size: 22px;
  color: #555555;
  margin-right: 14px;
  cursor: pointer;
  text-decoration: none;
}
